---
import File from '@components/DirectoryView/File.astro'
interface DirItem {
  type: 'dir' | undefined
  name: string
  items: Item[] | undefined
}

interface FileItem {
  type: 'file'
  name: string
}

type Item = FileItem | DirItem

interface Props {
  name: string
  items: Item[]
  depth?: number
  isLast?: boolean
}
const { name, items, depth = 0, isLast = false } = Astro.props
const dirDirection = isLast ? '└ ' : '├'
---

<div>
  <div>
    <span class="leading-0" style=`margin-left:${depth * 4}px;`
      >{dirDirection}</span
    >

    <span class="leading-0">{name}</span>
  </div>
  {
    items.map((item, itemIndex) =>
      item.type && item.type === 'file' ? (
        <div>
          <File name={item.name} />
        </div>
      ) : (
        <Astro.self
          name={item.name}
          items={item.items || []}
          depth={depth + 1}
          isLast={itemIndex === items.length - 1}
        />
      ),
    )
  }
</div>
