---
interface Props {
  name: string
  depth: number
}
const { name, depth } = Astro.props
---

<span class="block whitespace-nowrap leading-5" style={`padding-left: ${depth * 1.25}rem`}>
  <span>{name}</span>
</span>
