---
import Layout from '@layouts/Layout.astro'
import { locales } from '@root/src/i18n'
import { render } from 'astro:content'
import { getEntry } from 'astro:content'
import { getCollection } from 'astro:content'

export async function getStaticPaths() {
  const collections = (
    await Promise.all(
      [...locales, undefined].flatMap(async (locale) => {
        const data = await getCollection('blog')
        return data.map((el) => ({ slug: el.id, locale: locale }))
      }),
    )
  ).reduce((acc, cur) => [...acc, ...cur].flat(), [])
  return collections.map((entry) => ({
    params: {
      slug: entry.slug,
      locale: entry.locale,
    },
  }))
}

const { slug } = Astro.params

// So eslint of typescript won't complain
if (slug === undefined) {
  throw new Error('Slug is undefined')
}

const blogItem = await getEntry('blog', slug)
if (blogItem === undefined) {
  throw new Error(`Blog post not found: ${slug}`)
}

const { Content } = await render(blogItem)
---

<Layout parentHref="/blog" title={`Blog - ${blogItem.data.title}`}>
  <section>
    <header class="mb-6 text-4xl font-semibold text-center">
      <h1>{blogItem.data.title}</h1>
    </header>
    <div class="container mx-auto prose">
      <Content />
    </div>
  </section>
</Layout>
