---
import Layout from '@layouts/Layout.astro'
import Link from '@components/Link.astro'
import { getCollection } from 'astro:content'
import { geti18nStaticPaths } from '@root/src/i18n'
import type { GetStaticPaths } from 'astro'

const { t } = Astro.locals

const posts = (
  await getCollection(
    'blog',
    (el) => el.id.split('/')[0] === Astro.currentLocale,
  )
)
  .sort(
    (a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf(),
  )
  .map((post) => ({
    ...post,
    formattedDate: new Intl.DateTimeFormat(Astro.currentLocale, {
      year: 'numeric',
      month: 'long',
      day: 'numeric',
    }).format(new Date(post.data.date)),
  }))

export const getStaticPaths = (() => {
  return geti18nStaticPaths()
}) satisfies GetStaticPaths
---

<Layout parentHref="/blog" title={t('blogPage.title')}>
  <section class="mx-auto max-w-2xl">
    <header class="mb-10">
      <h1 class="text-4xl font-semibold text-center">{t('blogPage.title')}</h1>
    </header>

    {
      posts.length > 0 && (
        <ul class="flex flex-col gap-6">
          {posts.map((post) => (
            <li>
              <Link
                href={`/blog/${post.id.split('/')[1]}`}
                class="block p-6 bg-gray-100 rounded-lg duration-300 hover:bg-gray-200 transition-[background-color]"
              >
                <time class="text-sm text-gray-500">{post.formattedDate}</time>
                <h2 class="mt-1 mb-2 text-xl font-medium">{post.data.title}</h2>
                <p class="text-sm text-gray-600">{post.data.description}</p>
              </Link>
            </li>
          ))}
        </ul>
      )
    }

    {
      posts.length === 0 && (
        <div class="text-xl text-center">
          <p>{t('blogPage.empty')}</p>
        </div>
      )
    }
  </section>
</Layout>
