---
import Layout from '@layouts/Layout.astro'
import { render } from 'astro:content'
import { getEntry } from 'astro:content'
import { getCollection } from 'astro:content'

export async function getStaticPaths() {
  const collections = await getCollection('blog')
  return collections.map((entry) => ({
    params: {
      slug: entry.id,
    },
  }))
}

const { slug } = Astro.params

// So eslint of typescript won't complain
if (slug === undefined) {
  throw new Error('Slug is undefined')
}

const blogItem = await getEntry('blog', slug)
if (blogItem === undefined) {
  throw new Error(`Blog post not found: ${slug}`)
}

const { Content } = await render(blogItem)
---

<Layout parentHref="/blog">
  <section>
    <header text-center text-4xl font-semibold mb-6>
      <h1>{blogItem.data.title}</h1>
    </header>
    <div un-prose container mx-auto>
      <Content />
    </div>
  </section>
</Layout>
