---
import type { GetStaticPaths } from 'astro'
import Layout from '@layouts/Layout.astro'
import logoKot from '@assets/logo-kot.png'
import { Picture } from 'astro:assets'
import { geti18nStaticPaths } from '@root/src/i18n'

const { t } = Astro.locals

export const getStaticPaths = (() => {
  return geti18nStaticPaths()
}) satisfies GetStaticPaths
---

<Layout title={t('mainPage.title')}>
  <section>
    <header class="mb-6 text-4xl font-semibold text-center">
      <h1>{t('mainPage.title')}</h1>
    </header>
    <div class="flex flex-col gap-8 items-center md:flex-row">
      <div class="flex flex-col gap-2 items-center">
        <Picture
          src={logoKot}
          alt="Biały kotek z czarnymi plamkami"
          formats={['webp']}
          height={500}
        />
        <i>Mruczek</i>
      </div>

      <article class="flex flex-col gap-4 text-xl">
        <h2>
          {t('mainPage.aboutMe')}
        </h2>
        <div class="flex flex-col">
          <span>{t('mainPage.hobbies')}</span>
          <span>{t('mainPage.travel')}</span>
        </div>
        <p>{t('mainPage.blogCta')}</p>
      </article>
    </div>
  </section>
</Layout>
