---
import Layout from '@layouts/Layout.astro'
import { geti18nStaticPaths } from '@root/src/i18n'
import type { GetStaticPaths } from 'astro'

interface ContactItem {
  icon: string
  label: string
  href: string
  name: string
  external?: boolean
}

const contacts = [
  {
    icon: 'icon-[mdi--email-outline]',
    label: 'E-mail',
    href: 'mailto:szymon.wrzos@onet.pl',
    name: 'szymon.wrzos@onet.pl',
  },
  {
    icon: 'icon-[mdi--github]',
    label: 'GitHub',
    href: 'https://github.com/Herob527',
    name: 'Herob527',
    external: true,
  },
  {
    icon: 'icon-[mdi--linkedin]',
    label: 'LinkedIn',
    href: 'https://www.linkedin.com/in/szymon-wrzos-0646651b1/',
    name: 'Szymon Wrzos',
    external: true,
  },
] satisfies ContactItem[]

export const getStaticPaths = (() => {
  return geti18nStaticPaths()
}) satisfies GetStaticPaths
---

<Layout parentHref="/kontakt" title="Kontakt">
  <section>
    <header class="mb-6 text-4xl font-semibold text-center">
      <h1>Kontakt</h1>
    </header>
    <table>
      {
        contacts.map((item) => (
          <tr>
            <td class="flex gap-1 items-center py-1 pr-2">
              <span class={`inline-block w-5 h-5 ${item.icon}`} />
              {item.label}:
            </td>
            <td>
              <a
                href={item.href}
                class="text-blue-500 border-b-2 border-transparent border-solid visited:text-purple-500 hover:border-b-2 hover:border-blue-500 hover:border-solid hover:visited:border-b-2 hover:visited:border-solid hover:visited:border-purple-500"
                target={item.external ? '_blank' : undefined}
              >
                {item.name}
              </a>
            </td>
          </tr>
        ))
      }
    </table>
  </section>
</Layout>
