---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <nav flex flex-row gap="1">
      <a href="#">Doświadczenie</a>
      <a href="#">Blog</a>
      <a href="#">O witrynie</a>
      <a href="#">Kontakt</a>
    </nav>
    <main></main>
  </body>
</html>
