---
import Layout from '@layouts/Layout.astro'
import logoKot from '@assets/logo-kot.png'
import { Picture } from 'astro:assets'

const { t } = Astro.locals
---

<Layout title="Strona główna">
  <section>
    <header class="mb-6 text-4xl font-semibold text-center">
      <h1>Witaj!</h1>
    </header>
    <div class="flex flex-col gap-8 items-center md:flex-row">
      <div class="flex flex-col gap-2 items-center">
        <Picture
          src={logoKot}
          alt="Biały kotek z czarnymi plamkami"
          formats={['webp']}
          height={500}
        />
        <i>Mruczek</i>
      </div>

      <article class="flex flex-col gap-4 text-xl">
        <h2>
          Nazywam się Szymon Wrzos, znany również jako Herob i specjalizuję się
          w programowaniu frontendu, jednak nie straszne mi tworzenie aplikacji
          mobilnej czy backendu do obu.
        </h2>
        <div class="flex flex-col">
          <span
            >Po godzinach, poza rozwojem, to jadę tu i tam rowerem, robię
            zdjęcia kotom czy trenuję karate obecnie.
          </span>
          <span>
            Okazjonalnie podróżuję do innego miasta, by pozwiedzać czy odwiedzić
            lokalne kocie kawiarnie.
          </span>
        </div>
        <p>
          Zachęcam do przejrzenia bloga, gdzie obecnie znajduje się parę wpisów
          o ComfyUI.
        </p>
      </article>
    </div>
  </section>
</Layout>
