---
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <section>
    <header text-center text-4xl font-semibold mb-6>
      <h1>Kontakt</h1>
    </header>
    <ul>
      <li class="flex gap-2 items-center">
        <div class="inline-block i-mdi-email"></div>
        E-mail: <a href="mailto:szymon.wrzos@onet.pl">szymon.wrzos@onet.pl</a>
      </li>
      <li class="flex gap-2 items-center">
        <div class="inline-block i-mdi-github"></div>
        GitHub: <a href="https://github.com/Herob527">szymon.wrzos@onet.pl</a>
      </li>
      <li class="flex gap-2 items-center">
        <div class="inline-block i-mdi-linkedin"></div>
        LinkedIn: <a href="https://www.linkedin.com/in/szymon-wrzos-0646651b1/"
          >Szymon Wrzos</a
        >
      </li>
    </ul>
  </section>
</Layout>
