---
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <section container mx-auto mt-12>
    <header text-center text-4xl font-semibold mb-6>
      <h1>O witrynie</h1>
    </header>
    <article>
      <header text-3xl mb-6>
        <h2>Stack technologiczny</h2>
      </header>
      <table>
        <tr>
          <td pr-1>Framework:</td>
          <td>
            <a
              hover:border-b="2px solid #000"
              border-b="2px solid transparent"
              href="https://astro.build/"
              target="_blank">Astro</a
            >
          </td>
        </tr>
        <tr>
          <td pr-1>Silnik styli:</td>
          <td>
            <a
              hover:border-b="2px solid #000"
              border-b="2px solid transparent"
              href="https://unocss.dev/"
              target="_blank">UnoCSS</a
            >
          </td>
        </tr>
        <tr>
          <td pr-1>Skrypty:</td>
          <td>
            <a
              hover:border-b="2px solid #000"
              border-b="2px solid transparent"
              href="https://www.typescriptlang.org/"
              target="_blank">TypeScript</a
            >
          </td>
        </tr>
        <tr>
          <td pr-1>Linter:</td>
          <td>
            <a
              hover:border-b="2px solid #000"
              border-b="2px solid transparent"
              href="https://eslint.org/"
              target="_blank">ESLint</a
            >
          </td>
        </tr>
        <tr>
          <td pr-1>Formatter:</td>
          <td>
            <a
              hover:border-b="2px solid #000"
              border-b="2px solid transparent"
              href="https://prettier.io/"
              target="_blank">Prettier</a
            >
          </td>
        </tr>
        <tr>
          <td pr-1>Edytor AI:</td>
          <td>
            <a
              hover:border-b="2px solid #000"
              border-b="2px solid transparent"
              href="https://opencode.ai/"
              target="_blank">Opencode (MiMo V2.5 Free)</a
            >
          </td>
        </tr>
      </table>
    </article>
  </section>
</Layout>
