---
interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
  href: string
}

const { href, ...rest } = Astro.props
const base = import.meta.env.BASE_URL

const finalHref = href.startsWith('/') ? `${base}${href}` : href
---

<a href={finalHref} {...rest}>
  <slot />
</a>
